<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="stick_mass" value="0.00001"/>

    <!-- dynamics inertial value-->
    <!-- All the value listed here is based on the left side, and the right side only differs in certain aspects. You can check these based on the g1.urdf file.-->
    <!-- torso_link -->
        <!-- joint -->
        <xacro:property name="torso_joint_offset_x" value="0.0"/>
        <xacro:property name="torso_joint_offset_y" value="0.0"/>
        <xacro:property name="torso_joint_offset_z" value="0.0"/>
        <!-- joint limits -->
        <xacro:property name="torso_joint_position_min" value="-2.618"/>
        <xacro:property name="torso_joint_position_max" value="2.618"/>
        <xacro:property name="torso_joint_torque_max" value="88"/>
        <xacro:property name="torso_joint_velocity_max" value="32"/>
        <!-- link -->
        <xacro:property name="torso_link_com_x" value="0.00197122283"/>
        <xacro:property name="torso_link_com_y" value="0.00266902037"/>
        <xacro:property name="torso_link_com_z" value="0.16936510960"/>
        <xacro:property name="torso_link_mass" value="6.33959811"/>
        <xacro:property name="torso_link_ixx" value="0.06037082109027"/>
        <xacro:property name="torso_link_ixy" value="-0.00010168407055"/>
        <xacro:property name="torso_link_ixz" value="0.00069845018092"/>
        <xacro:property name="torso_link_iyy" value="0.04355153796551"/>
        <xacro:property name="torso_link_iyz" value="0.00034366422728"/>
        <xacro:property name="torso_link_izz" value="0.03339981866010"/>

    <!-- leg -->
        <!-- hip_pitch_link -->  
        <!-- joint -->
        <xacro:property name="hip_pitch_joint_offset_x" value="0"/>
        <xacro:property name="hip_pitch_joint_offset_y" value="0.06445"/>
        <xacro:property name="hip_pitch_joint_offset_z" value="-0.1027"/>
        <xacro:property name="hip_pitch_joint_offset_pitch" value="-0.34907"/>
        <!-- joint limits -->
        <xacro:property name="hip_pitch_joint_position_min" value="-2.35"/>
        <xacro:property name="hip_pitch_joint_position_max" value="3.05"/>
        <xacro:property name="hip_pitch_joint_torque_max" value="88"/>
        <xacro:property name="hip_pitch_joint_velocity_max" value="32"/>
        <!-- link -->
        <xacro:property name="hip_pitch_link_com_x" value="0.001962"/>
        <xacro:property name="hip_pitch_link_com_y" value="0.049392"/>
        <xacro:property name="hip_pitch_link_com_z" value="-0.000941"/>
        <xacro:property name="hip_pitch_link_mass" value="1.299"/>
        <xacro:property name="hip_pitch_link_ixx" value="0.0013873"/>
        <xacro:property name="hip_pitch_link_ixy" value="-1.63E-05"/>
        <xacro:property name="hip_pitch_link_ixz" value="-1E-06"/>
        <xacro:property name="hip_pitch_link_iyy" value="0.0009059"/>
        <xacro:property name="hip_pitch_link_iyz" value="-4.24E-05"/>
        <xacro:property name="hip_pitch_link_izz" value="0.0009196"/>

        <!-- hip_roll_link -->
        <!-- joint -->
        <xacro:property name="hip_roll_joint_offset_x" value="0"/>
        <xacro:property name="hip_roll_joint_offset_y" value="0.0523"/>
        <xacro:property name="hip_roll_joint_offset_z" value="0"/>
        <!-- joint limits -->
        <xacro:property name="hip_roll_joint_position_min" value="-0.26"/>
        <xacro:property name="hip_roll_joint_position_max" value="2.53"/>
        <xacro:property name="hip_roll_joint_torque_max" value="88"/>
        <xacro:property name="hip_roll_joint_velocity_max" value="32"/>
        <!-- link -->
        <xacro:property name="hip_roll_link_com_x" value="0.024757"/>
        <xacro:property name="hip_roll_link_com_y" value="-0.001036"/>
        <xacro:property name="hip_roll_link_com_z" value="-0.086323"/>
        <xacro:property name="hip_roll_link_mass" value="1.446"/>
        <xacro:property name="hip_roll_link_ixx" value="0.0022702"/>
        <xacro:property name="hip_roll_link_ixy" value="-3.7E-06"/>
        <xacro:property name="hip_roll_link_ixz" value="-0.0003789"/>
        <xacro:property name="hip_roll_link_iyy" value="0.002304"/>
        <xacro:property name="hip_roll_link_iyz" value="-1.8E-05"/>
        <xacro:property name="hip_roll_link_izz" value="0.0016001"/>

        <!-- hip_yaw_link -->
        <!-- joint -->
        <xacro:property name="hip_yaw_joint_offset_x" value="0.01966"/>
        <xacro:property name="hip_yaw_joint_offset_y" value="-0.0012139"/>
        <xacro:property name="hip_yaw_joint_offset_z" value="-0.1241"/>
        <!-- joint limits -->
        <xacro:property name="hip_yaw_joint_position_min" value="-2.75"/>
        <xacro:property name="hip_yaw_joint_position_max" value="2.75"/>
        <xacro:property name="hip_yaw_joint_torque_max" value="88"/>
        <xacro:property name="hip_yaw_joint_velocity_max" value="32"/>
        <!-- link -->
        <xacro:property name="hip_yaw_link_com_x" value="-0.053554"/>
        <xacro:property name="hip_yaw_link_com_y" value="-0.011477"/>
        <xacro:property name="hip_yaw_link_com_z" value="-0.14067"/>
        <xacro:property name="hip_yaw_link_mass" value="2.052"/>
        <xacro:property name="hip_yaw_link_ixx" value="0.0087264"/>
        <xacro:property name="hip_yaw_link_ixy" value="-0.0004402"/>
        <xacro:property name="hip_yaw_link_ixz" value="-0.0036676"/>
        <xacro:property name="hip_yaw_link_iyy" value="0.011374"/>
        <xacro:property name="hip_yaw_link_iyz" value="-0.0006654"/>
        <xacro:property name="hip_yaw_link_izz" value="0.004279"/>

        <!-- knee_link -->
        <!-- joint -->
        <xacro:property name="knee_joint_offset_x" value="-0.078292"/>
        <xacro:property name="knee_joint_offset_y" value="-0.0017335"/>
        <xacro:property name="knee_joint_offset_z" value="-0.177225"/>
        <xacro:property name="knee_joint_offset_pitch" value="0.5096"/>
        <!-- joint limits -->
        <xacro:property name="knee_joint_position_min" value="-0.33489"/>
        <xacro:property name="knee_joint_position_max" value="2.5449"/>
        <xacro:property name="knee_joint_torque_max" value="139"/>
        <xacro:property name="knee_joint_velocity_max" value="20"/>
        <!-- link -->
        <xacro:property name="knee_link_com_x" value="0.005505"/>
        <xacro:property name="knee_link_com_y" value="0.006534"/>
        <xacro:property name="knee_link_com_z" value="-0.116629"/>
        <xacro:property name="knee_link_mass" value="2.252"/>
        <xacro:property name="knee_link_ixx" value="0.012443837"/>
        <xacro:property name="knee_link_ixy" value="0.000053496"/>
        <xacro:property name="knee_link_ixz" value="-0.000437641"/>
        <xacro:property name="knee_link_iyy" value="0.012674902"/>
        <xacro:property name="knee_link_iyz" value="-0.000682499"/>
        <xacro:property name="knee_link_izz" value="0.001986501"/>

        <!-- ankle_pitch_link -->
        <!-- joint -->
        <xacro:property name="ankle_pitch_joint_offset_x" value="0"/>
        <xacro:property name="ankle_pitch_joint_offset_y" value="0.0040687"/>
        <xacro:property name="ankle_pitch_joint_offset_z" value="-0.30007"/>
        <xacro:property name="ankle_pitch_joint_offset_pitch" value="-0.16053"/>
        <!-- joint limits -->
        <xacro:property name="ankle_pitch_joint_position_min" value="-0.68"/>
        <xacro:property name="ankle_pitch_joint_position_max" value="0.73"/>
        <xacro:property name="ankle_pitch_joint_torque_max" value="40"/>
        <xacro:property name="ankle_pitch_joint_velocity_max" value="53"/>
        <!-- link -->
        <xacro:property name="ankle_pitch_link_com_x" value="-0.007269"/>
        <xacro:property name="ankle_pitch_link_com_y" value="0"/>
        <xacro:property name="ankle_pitch_link_com_z" value="0.011137"/>
        <xacro:property name="ankle_pitch_link_mass" value="0.074"/>
        <xacro:property name="ankle_pitch_link_ixx" value="8.4E-06"/>
        <xacro:property name="ankle_pitch_link_ixy" value="0"/>
        <xacro:property name="ankle_pitch_link_ixz" value="-2.9E-06"/>
        <xacro:property name="ankle_pitch_link_iyy" value="1.89E-05"/>
        <xacro:property name="ankle_pitch_link_iyz" value="0"/>
        <xacro:property name="ankle_pitch_link_izz" value="1.26E-05"/>

        <!-- ankle_roll_link -->
        <!-- joint -->
        <xacro:property name="ankle_roll_joint_offset_x" value="0"/>
        <xacro:property name="ankle_roll_joint_offset_y" value="0"/>
        <xacro:property name="ankle_roll_joint_offset_z" value="-0.017558"/>
        <!-- joint limits -->
        <xacro:property name="ankle_roll_joint_position_max" value="0.2618"/>
        <xacro:property name="ankle_roll_joint_position_min" value="-0.2618"/>
        <xacro:property name="ankle_roll_joint_velocity_max" value="53"/>
        <xacro:property name="ankle_roll_joint_torque_max" value="40"/>
        <!-- link -->
        <xacro:property name="ankle_roll_link_com_x" value="0.024762"/>
        <xacro:property name="ankle_roll_link_com_y" value="2E-05"/>
        <xacro:property name="ankle_roll_link_com_z" value="-0.012526"/>
        <xacro:property name="ankle_roll_link_mass" value="0.391"/>
        <xacro:property name="ankle_roll_link_ixx" value="0.0001552"/>
        <xacro:property name="ankle_roll_link_ixy" value="-1E-07"/>
        <xacro:property name="ankle_roll_link_ixz" value="7.51E-05"/>
        <xacro:property name="ankle_roll_link_iyy" value="0.0010657"/>
        <xacro:property name="ankle_roll_link_iyz" value="1E-07"/>
        <xacro:property name="ankle_roll_link_izz" value="0.001098"/>

    <!-- arm -->
        <!-- shoulder_pitch_link -->
        <!-- joint -->
        <xacro:property name="shoulder_pitch_joint_offset_x" value="-0.0025"/>
        <xacro:property name="shoulder_pitch_joint_offset_y" value="0.10396"/>
        <xacro:property name="shoulder_pitch_joint_offset_z" value="0.25928"/>
        <xacro:property name="shoulder_pitch_joint_offset_roll" value="0.27925"/>
        <!-- joint limits -->
        <xacro:property name="shoulder_pitch_joint_position_min" value="-2.9671"/>
        <xacro:property name="shoulder_pitch_joint_position_max" value="2.7925"/>
        <xacro:property name="shoulder_pitch_joint_torque_max" value="21"/>
        <xacro:property name="shoulder_pitch_joint_velocity_max" value="53"/>
        <!-- link -->
        <xacro:property name="shoulder_pitch_link_com_x" value="-0.001431"/>
        <xacro:property name="shoulder_pitch_link_com_y" value="0.048811"/>
        <xacro:property name="shoulder_pitch_link_com_z" value="0.001304"/>
        <xacro:property name="shoulder_pitch_link_mass" value="0.713"/>
        <xacro:property name="shoulder_pitch_link_ixx" value="0.0004614"/>
        <xacro:property name="shoulder_pitch_link_ixy" value="-9.3E-06"/>
        <xacro:property name="shoulder_pitch_link_ixz" value="1E-05"/>
        <xacro:property name="shoulder_pitch_link_iyy" value="0.0004146"/>
        <xacro:property name="shoulder_pitch_link_iyz" value="5.5E-06"/>
        <xacro:property name="shoulder_pitch_link_izz" value="0.0004416"/>

        <!-- shoulder_roll_link -->
        <!-- joint -->
        <xacro:property name="shoulder_roll_joint_offset_x" value="0"/>
        <xacro:property name="shoulder_roll_joint_offset_y" value="0.052"/>
        <xacro:property name="shoulder_roll_joint_offset_z" value="0"/>
        <xacro:property name="shoulder_roll_joint_offset_roll" value="-0.27925"/>
        <!-- joint limits -->
        <xacro:property name="shoulder_roll_joint_position_min" value="-1.5882"/>
        <xacro:property name="shoulder_roll_joint_position_max" value="2.2515"/>
        <xacro:property name="shoulder_roll_joint_torque_max" value="21"/>
        <xacro:property name="shoulder_roll_joint_velocity_max" value="53"/>
        <!-- link -->
        <xacro:property name="shoulder_roll_link_com_x" value="-0.003415"/>
        <xacro:property name="shoulder_roll_link_com_y" value="0.006955"/>
        <xacro:property name="shoulder_roll_link_com_z" value="-0.064598"/>
        <xacro:property name="shoulder_roll_link_mass" value="0.642"/>
        <xacro:property name="shoulder_roll_link_ixx" value="0.0006159"/>
        <xacro:property name="shoulder_roll_link_ixy" value="0"/>
        <xacro:property name="shoulder_roll_link_ixz" value="-5.6E-06"/>
        <xacro:property name="shoulder_roll_link_iyy" value="0.0006835"/>
        <xacro:property name="shoulder_roll_link_iyz" value="2.1E-06"/>
        <xacro:property name="shoulder_roll_link_izz" value="0.000373"/>

        <!-- shoulder_yaw_link -->
        <!-- joint -->
        <xacro:property name="shoulder_yaw_joint_offset_x" value="-0.00354"/>
        <xacro:property name="shoulder_yaw_joint_offset_y" value="0.0062424"/>
        <xacro:property name="shoulder_yaw_joint_offset_z" value="-0.1032"/>
        <!-- joint limits -->
        <xacro:property name="shoulder_yaw_joint_position_min" value="-2.618"/>
        <xacro:property name="shoulder_yaw_joint_position_max" value="2.618"/>
        <xacro:property name="shoulder_yaw_joint_torque_max" value="21"/>
        <xacro:property name="shoulder_yaw_joint_velocity_max" value="53"/>
        <!-- link -->
        <xacro:property name="shoulder_yaw_link_com_x" value="0.000375"/>
        <xacro:property name="shoulder_yaw_link_com_y" value="-0.00444"/>
        <xacro:property name="shoulder_yaw_link_com_z" value="-0.072374"/>
        <xacro:property name="shoulder_yaw_link_mass" value="0.713"/>
        <xacro:property name="shoulder_yaw_link_ixx" value="0.0009699"/>
        <xacro:property name="shoulder_yaw_link_ixy" value="7.1E-06"/>
        <xacro:property name="shoulder_yaw_link_ixz" value="7.8E-06"/>
        <xacro:property name="shoulder_yaw_link_iyy" value="0.0009691"/>
        <xacro:property name="shoulder_yaw_link_iyz" value="-4.49E-05"/>
        <xacro:property name="shoulder_yaw_link_izz" value="0.0003826"/>

        <!-- elbow_pitch_link -->
        <!-- joint -->
        <xacro:property name="elbow_pitch_joint_offset_x" value="0"/>
        <xacro:property name="elbow_pitch_joint_offset_y" value="0.00189"/>
        <xacro:property name="elbow_pitch_joint_offset_z" value="-0.0855"/>
        <!-- joint limits -->
        <xacro:property name="elbow_pitch_joint_position_min" value="-0.2268"/>
        <xacro:property name="elbow_pitch_joint_position_max" value="3.4208"/>
        <xacro:property name="elbow_pitch_joint_torque_max" value="21"/>
        <xacro:property name="elbow_pitch_joint_velocity_max" value="53"/>
        <!-- link -->
        <xacro:property name="elbow_pitch_link_com_x" value="0.064497"/>
        <xacro:property name="elbow_pitch_link_com_y" value="0.002873"/>
        <xacro:property name="elbow_pitch_link_com_z" value="0"/>
        <xacro:property name="elbow_pitch_link_mass" value="0.601"/>
        <xacro:property name="elbow_pitch_link_ixx" value="0.0002845"/>
        <xacro:property name="elbow_pitch_link_ixy" value="8.06E-05"/>
        <xacro:property name="elbow_pitch_link_ixz" value="9E-09"/>
        <xacro:property name="elbow_pitch_link_iyy" value="0.0004647"/>
        <xacro:property name="elbow_pitch_link_iyz" value="5E-09"/>
        <xacro:property name="elbow_pitch_link_izz" value="0.0004712"/>

        <!-- elbow_roll_link -->
        <!-- joint -->
        <xacro:property name="elbow_roll_joint_offset_x" value="0.1"/>
        <xacro:property name="elbow_roll_joint_offset_y" value="0"/>
        <xacro:property name="elbow_roll_joint_offset_z" value="0"/>
        <!-- joint limits -->
        <xacro:property name="elbow_roll_joint_position_min" value="-2.0943"/>
        <xacro:property name="elbow_roll_joint_position_max" value="2.0943"/>
        <xacro:property name="elbow_roll_joint_torque_max" value="21"/>
        <xacro:property name="elbow_roll_joint_velocity_max" value="53"/>
        <!-- link -->
        <xacro:property name="elbow_roll_link_com_x" value="0.081811"/>
        <xacro:property name="elbow_roll_link_com_y" value="0.001454"/>
        <xacro:property name="elbow_roll_link_com_z" value="0.001"/>
        <xacro:property name="elbow_roll_link_mass" value="0.227"/>
        <xacro:property name="elbow_roll_link_ixx" value="0.0001093"/>
        <xacro:property name="elbow_roll_link_ixy" value="-1.55E-05"/>
        <xacro:property name="elbow_roll_link_ixz" value="-2.91E-05"/>
        <xacro:property name="elbow_roll_link_iyy" value="0.000977"/>
        <xacro:property name="elbow_roll_link_iyz" value="1E-06"/>
        <xacro:property name="elbow_roll_link_izz" value="0.0009676"/>

</robot>
