<?xml version="1.0"?>

<robot name="z1_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="UnitreeGripper" default="false"/>

    <xacro:include filename="$(find z1_description)/xacro/z1.xacro"/>
    <xacro:include filename="$(find z1_description)/xacro/gazebo.xacro"/>

    <link name="world"/>

    <joint name="base_static_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="world"/>
        <child link="link00"/>
    </joint>

    <xacro:z1 UnitreeGripper="$(arg UnitreeGripper)"/>

</robot>
