<?xml version="1.0"?>

<!-- z1_description: Unitree Z1 robotic arm -->
<robot name="z1_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- define arguments -->
    <xacro:arg name="UnitreeGripper" default="false"/> <!-- include default end-effector -->

    <!-- include xacro files -->
    <xacro:include filename="$(find z1_description)/xacro/z1.xacro"/>
    <xacro:include filename="$(find z1_description)/xacro/gazebo.xacro"/>

    <!-- Z1 macro: expands to describe Z1 robotic arm -->
    <xacro:z1 UnitreeGripper="$(arg UnitreeGripper)"/>

    <!-- define world link and statically affix Z1 -->
    <link name="world"/>
    <joint name="base_static_joint" type="fixed">
        <!-- Z1 mounting point wrt origin (configurable) -->
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <!-- define parent and child links -->
        <parent link="world"/>
        <child link="link00"/>
    </joint>

</robot>
